form {
    margin-top:30px;
}

.title {
    font-size:20px;
    margin-left:10px;
}

.comment {
    font-size:20px;
    margin-left:10px;
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-down {
    cursor:pointer;
}
